<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Vue-Chimera Example</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style>
        #app {
            max-width: 800px;
            margin: 100px auto;
            color: #333;
            font-family: Raleway, Tahoma, serif;
        }

        .con {
            margin-bottom: 60px;
        }

        hr {
            border: 0;
            border-top: 1px solid #e0e0e0 !important;
            margin-bottom: 40px;
            color: #fff;
        }
    </style>
</head>
<body>
<div id="app">

    <div align="center">
        <img src="logo.png" alt="VueJS is Awesome">
        <h1>Vue is Awesome, Vue-Chimera too...</h1>
    </div>
    <hr/>
    <div class="con">
        <h3>Simple GET</h3>
        <p>
            <span v-if="!$chimera.simple.loading">{{ $chimera.simple.data.title }}</span>
            <span v-else>Loading...</span>
        </p>
    </div>

    <div class="con">
        <h3>Simple GET with auto refresh interval</h3>
        <p>
            Current UTC time:
            <span style="font-family: arial;" v-if="$chimera.time.data">{{ new Date($chimera.time.data.currentFileTime / 10000).toTimeString() }}</span>
            <small v-if="$chimera.time.loading">Refreshing...</small>
        </p>
    </div>

    <div class="con">
        <h3>Reactive GET</h3>
        Post id: <input type="number" v-model="postNumber">
        <p>
            <span v-if="!$chimera.reactive.loading && $chimera.reactive.data">{{ $chimera.reactive.data.title }}</span>
            <small v-else>Loading...</small>
        </p>
    </div>

    <div class="con">
        <h3>POST Without prefetch</h3>
        <p>
            <span v-if="!$chimera.prefetch.loading && $chimera.prefetch.data">
                <span style="color: #4cbd51">Successfully created:</span>
                {{ $chimera.prefetch.data.name }}
                {{ $chimera.prefetch.data.job }}
            </span>
        </p>
        <div>
            <button v-if="!$chimera.prefetch.lastLoaded" @click="load">Execute</button>
            <small v-if="$chimera.prefetch.loading">Loading...</small>
        </div>
    </div>

</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
<script src="https://unpkg.com/vue-chimera@0.1.0/dist/vue-chimera.js"></script>
<script>
    var app = new Vue({
        el: '#app',

        chimera: {
            resources: {

                simple: 'https://idehhub.com/api/v1/blog/posts/55?lang=en',

                time: {
                    url: 'http://worldclockapi.com/api/json/utc/now',
                    interval: 2000,
                },

                reactive: function() {
                    return 'https://idehhub.com/api/v1/blog/posts/' + this.postNumber + '?lang=en'
                },

                prefetch: {
                    url: 'https://reqres.in/api/users',
                    method: 'POST',
                    params: {
                        "name": "morpheus",
                        "job": "leader"
                    },
                    prefetch: false
                },
            }
        },

        data: {
            postNumber: 27
        },

        methods: {
            load: function () {
                this.$chimera.prefetch.execute();
            }
        }
    })
</script>
</html>
